<nav class="navbar navbar-transparent navbar-fixed-top">
  <div class="navbar-color">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag("http://res.cloudinary.com/dfkclhjps/image/upload/v1496148919/anns.logo_zhag8g.png", height: "50"), root_path %>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <% if !user_signed_in? %>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.has_profile? %>
                    <%= current_user.profile.full_name %>
                  <% else %>
                    <%= current_user.email %>
                  <% end %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="separator" class="divider"></li>
                  <% if current_user.has_profile? %>
                    <li><%= link_to "Edit Profile", edit_profile_path(current_user.profile) %></li>
                  <% else %>
                    <li><%= link_to "Create Profile", new_profile_path %></li>
                  <% end %>
                  <li><%= link_to "Change Password", edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>
            <li><%= link_to image_tag("http://res.cloudinary.com/dfkclhjps/image/upload/v1496152947/avatar-inside-a-circle_1_shte25.png", height: "40"), root_path %></li>
            <li><%= link_to image_tag("http://res.cloudinary.com/dfkclhjps/image/upload/v1496150788/noun_18806_cc_cmqacc.png", height: "40"), root_path %></li>

          </ul>
        </div>
  </div>
</div>
</nav>
