<div class="show">
  <section class="container">
    <div class="col-md-7">
      <h1>Your shopping cart</h1>
    </div>


    <div class="col-md-8" >
      <table style="width:100%">
        <tr>
          <th style="width:20%">Shoe</th>
          <th style="width:25%">Brand</th>
          <th style="width:30%">Name</th>
          <th style="width:20%">Price</th>
          <th style="width:5%">Remove</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag cart_item.shoe.image, class: "small_image" %></td>
            <td><%= cart_item.shoe.brand %></td>
            <td><%= cart_item.shoe.name %></td>
            <td>€ <%= '%.2f' % cart_item.shoe.price %></td>
            <td>  <%= link_to "x", cart_item, method: :delete, data: { confirm: "You are about to remove #{cart_item.shoe.name} from your cart." },class: "btn btn-default" %></td>
          </tr>
        <% end %>
         <tr><h1>Your Total: € <%= '%.2f' % @cart.total_price %></h1></tr>
         <tr><%= link_to "Checkout", root_path, :onclick => 'alert("Thank you for your order")', class: "btn btn-lg btn-warning", span: "glyphicon glyphicon-download-alt"%></tr>
      </table>
    </div>
  </section>

