<div class="jumbotron">
</div>

<div class="container text-center">
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select a Category
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% @categories.each do |category| %>
        <li><%= link_to category.name, shoes_path(cat: category.name) %></li>
      <%end%>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select a Brand
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% Shoe.select("DISTINCT brand").order(:brand).each do |shoe| %>
        <li><%= link_to shoe.brand, shoes_path(bra: shoe.brand) %></li>
      <%end%>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select a Color
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% Shoe.select("DISTINCT color").order(:color).each do |shoe| %>
        <li><%= link_to shoe.color, shoes_path(col: shoe.color) %></li>
      <%end%>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select a Material
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% Shoe.select("DISTINCT material").order(:material).each do |shoe| %>
        <li><%= link_to shoe.material, shoes_path(mat: shoe.material) %></li>
      <%end%>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select a Size
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% Shoe.select("DISTINCT size").order(:size).each do |shoe| %>
        <li><%= link_to shoe.size, shoes_path(siz: shoe.size) %></li>
      <%end%>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select on Price
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">< €20</a></li>
        <li><a href="#">€20 - €40</a></li>
        <li><a href="#">€40 - €70</a></li>
        <li><a href="#">€70 - €100</a></li>
        <li><a href="#">€100 - €200</a></li>
        <li><a href="#">> €200</a></li>
    </ul>
  </div>
</div>

<div class="col-md-12">
  <% @shoes.each do |shoe| %>
    <div class="col-md-3">
      <%= image_tag shoe.image, class: "shoe_images"%>
      <h3><%= link_to shoe.name, shoe_path(shoe)%></h3>
    </div>
  <%end%>
</div>
