<section class="container">
  <div class="col-md-6">
    <%= image_tag @shoe.image, class:"big_shoe" %>
  </div>
  <div class="col-md-4">
    <h1><%= @shoe.name %></h1>
    <h3><%= @shoe.brand %></h3>
    <h5>Color: <%= @shoe.color %></h5>
    <h5>Material: <%= @shoe.material %></h5>
    <h5>Size: <%= @shoe.size %></h5>
    <h1>€ <%= @shoe.price %></h1>
    <%= link_to "Buy Now", new_cart_path(user_id: current_user, shoe_id: @shoe.id), class: "btn btn-primary"%>
  </div>

  <div class="col-md-2">
    <h1>&nbsp;</h1>
    <ul class="list-unstyled">
    <% @shoe.categories.each do |category| %>
    <li><%= link_to category.name, shoes_path(filter: category.name ), class: "btn btn-default" %></li>
    <br>
    <% end %>
  </ul>
  </div>
</div>
